<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="../dist/css/home.css?v=11d21">
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../dist/js/controller/home.js?v=d"></script>
	</head>

	<body ng-app="app" ng-controller="test"> 
		<div class="home_img">	
			<div class="home_img_cover"></div>
			<a href="http://localhost/mmm-web/html/home.html">
				<div style="position: absolute; left:10%; color: white; top:4%; font-size: 25px; width:90px;">
					<img src="../dist/img/projectName.png" width="100%">
				</div>
			</a>
			<div ng-if="isLogin">
				<div style="position:absolute; right:10%; top:5%; width: 10%; text-align: center;" ng-mouseleave="userDiv=false">
					<div style="color:white; font-size: 20px; cursor:pointer;width:100%;">
						<img src="../dist/img/timg.jpg" class="img-circle" width="40px" height="40px" ng-init="userDiv=false" ng-mouseover="userDiv=true">
					</div>
					<div ng-if="userDiv" style="position:relative; background:white; top:10px;  width:100%; padding-top: 10px; border-radius:6px; font-size: 16px; overflow:hidden">
						<div style="padding-bottom: 5px; cursor: pointer;">
							<span style="font-size:18px;">{{ user.userName }}</span>
						</div>
						<div class="userDiv" style="border-bottom: 1px solid #F7F6F2;padding-top: 10px; padding-bottom: 5px; cursor: pointer;">
							<span class="glyphicon glyphicon-user"></span>
							<span style="padding-left:10px;padding-right: 10px;">个人中心</span>
						</div>
						<div class="userDiv" style="padding-top: 10px; border-bottom: 1px solid #F7F6F2; padding-bottom: 5px; cursor: pointer;">
							<span class="glyphicon glyphicon-bell"></span>
							<span style="padding-left:10px;padding-right: 10px;">消息通知</span>
						</div>
						<div class="userDiv" style="padding-top: 10px; cursor: pointer; padding-bottom: 5px; ">
							<span class="glyphicon glyphicon-off"></span>
							<span style="padding-left:10px;padding-right:10px;" ng-click="logout()">退出登录</span>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="!isLogin">
				<div style="position: absolute; right:15%; color: white; top:5%; font-size: 20px; cursor:pointer;" data-toggle="modal" data-target="#register">
					注册
				</div>
				<div style="position: absolute; right:20%; color: white; top:5%; font-size: 20px; cursor:pointer;" data-toggle="modal" data-target="#login">
					登录
				</div>
			</div>
			<div style="position:absolute; top:80%;left:10%;width:400px">
				<input class="btn btn-default" style="background:#F15050; color:white;" type="button" value="Android">
				<input class="btn btn-default" style="margin-left: 50px; background:#F15050; color:white;" type="button" value="IOS">
			</div>
		</div>
		<login-tmpl></login-tmpl>
		<register-tmpl></register-tmpl>
		<div class="task_market">
			<div style="width:100%; text-align:center; font-size:28px;padding-top:40px;">
				任务市场
			</div>
			<div style="font-size:28px; width: 80%; display: inline-block;text-align: center;">
				<div class="task" ng-repeat="task in tasks">
					<div style="width:100%;font-size: 22px;text-align: center;">图书馆管理系统</div>
					<div style="width:90%; font-size: 15px;text-align: left;margin-left: 10%; margin-top: 10px; word-wrap:break-word;">
						<span style="padding-right: 50px;">赏金</span>
						<span>{{ task.reward }}元</span>
					</div>
					<div style="width:90%; font-size: 15px;text-align: left;margin-left: 10%; word-wrap:break-word;margin-top: 10px;">
						<span style="padding-right: 50px;">周期</span>
						<span>{{ task.period }}天</span>
					</div>
					<div style="width:90%; font-size: 15px;text-align: left;margin-left: 10%;word-wrap:break-word; margin-top:10px; padding-bottom: 8px;">
						<span style="padding-right: 20px;">报名截止</span>
						<span>{{ task.deadline }}</span>
					</div>
					<div style="display: inline-block; width:80%; text-align: left;font-size: 15px;border-top: 2px solid #F7F6F2; padding-top: 8px;">
						<img src="../dist/img/timg.jpg" class="img-circle" width="40px" height="40px">
						<span style="padding-left: 15px;">{{ task.demandUser }}</span>
					</div>
				</div>
			</div>
			<div style="margin-top:30px; height:50px;">
				<input class="btn btn-default" style="width: 150px; height: 40px; margin-left: 50px; background:#169BD5; color:white;" type="button" value="查看更多">
			</div>
		</div>

		<div style="background:white; width:100%; text-align: center; padding-top:50px; padding-bottom:50px;">
			<div style="display: inline-block; font-size: 25px;padding-right: 15%;">
				<div style="font-size:60px;">
					<span class="glyphicon glyphicon-yen"  style="color:#F1948A"></span>
				</div>
				<div style="font-size:30px;">￥999,999,999</div>
				<div style="font-size:20px;">交易总额</div>
			</div>
			<div style="display:inline-block;">
				<div style="font-size:60px;">
					<span class="glyphicon glyphicon-list-alt"  style="color:#F1948A"></span>
				</div>
				<div style="font-size:30px;">999,999</div>
				<div style="font-size:20px;">任务数</div>
			</div>
			<div style="display: inline-block; font-size: 25px; padding-left: 15%;">
				<div style="font-size:60px;">
					<span class="glyphicon glyphicon-user" style="color:#F1948A"></span>
				</div>
				<div style="font-size:30px;">999,999</div>
				<div style="font-size:20px;">用户数</div>
			</div>
		</div>
		<div class="excellent_man">
			<div style="width:100%; text-align:center; font-size:28px;padding-top:40px;">
				优秀任务达人
			</div>
			<div style="font-size:28px; width:80%; display:inline-block; text-align:center;">
				<div class="man" ng-repeat="userInfo in userInfos">
					<div style="width:100%; text-align:center;">
						<img src="../dist/img/headImg.jpg" class="img-circle" width="50px" height="50px">
					</div>
					<div style="width:100%;font-size:18px;text-align: center; word-wrap:break-word;">
						{{userInfo.userName}}
					</div>
					<div style="width:100%; font-size:15px; text-align:left; word-wrap:break-word; padding-left: 10px; padding-right: 10px;padding-bottom: 8px;">
						{{userInfo.introduction}}
					</div>
					<div style="width:100%; font-size:14px; text-align:center; word-wrap:break-word; padding-left: 10px; padding-right: 10px;border-top: 2px solid #F7F6F2; padding-top: 8px;">
						{{userInfo.description}}
					</div>
					<div style="width:100%; font-size:14px; text-align:center; word-wrap:break-word; padding-left: 10px; padding-right: 10px; padding-top: 8px;">
						<input class="btn btn-default" style="background:white; color:#F1948A;" type="button" value="代课">
						<input class="btn btn-default" style="background:white; color:#F1948A;" type="button" value="快递">
						<input class="btn btn-default" style="background:white; color:#F1948A;" type="button" value="写作业">
					</div>
				</div>
			</div>
		</div>

		<div class="footer">

			<div style="display: inline-block; color: white; font-size: 20px; padding-top: 20px;padding-left: 10%;">
				万事屋
			</div>
			<div style="display: inline-block;color: white; font-size: 18px;padding-left: 20%; padding-right: 20%;padding-top: 25px;">
				Copyright © 2018-2022
			</div>
			<div style="display: inline-block; color: white; font-size: 15px;padding-right: 10%; position: relative;">
				<div style="text-align: left; position: relative; top:10px;">
					<span class="glyphicon glyphicon-map-marker" style="padding-right: 10px;"></span>广西河池市金城江区河池高中
				</div>
				<div style="text-align: left; position: relative; top:15px; ">
					<span class="glyphicon glyphicon-phone-alt" style="padding-right: 10px;"></span>0778-2732188
				</div>
			</div>

		</div>
	</body>

</html>